<!DOCTYPE html>
<html>
<head>
    <title>Val's Haul</title>
    <link rel="stylesheet" href="/css/page.css">   
    <link rel="icon" type="image/png" href="/img/VS.jpg"> <!--for the small icon-->

</head>
<body>
    
    <header>
        <img class="icon logo" src="/img/VS.jpg" alt="">
        <h1 class="title">Val's Haul</h1>
    </header>
    
    <div class="page grid">
        <div></div><!--Leftbar-->
        <div>
            <div id="box-container">
				
                {{boxes}}

            </div>
        </div>
        </div>
        <div class="rightbar"></div> <!-- Right sidebar -->
        <footer>
        <p>© 2024 Val's Haul. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>