<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
    <link rel="stylesheet" href="/css/page.css">   
    <link rel="icon" type="image/png" href="/img/VS.jpg"> <!--for the small icon-->
</head>
<body>
    <header>
        <div class="header-container">
            <img class="icon logo" src="/img/VS.jpg" alt="Val's Haul Logo">
            <h1 class="title">Val's Haul</h1>
        </div>
    </header>
    
    <main class="page grid">
        <div></div> <!-- Left sidebar -->
        <div>
            {{box}}
        </div>
   </main> 
    <div class="rightbar"></div> <!-- Right sidebar -->
    <footer>
        <p>© 2024 Val's Haul. All rights reserved.</p>
    </footer>
    
</body>
</html>